@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#navBar {
  position: fixed;
  z-index: 1000;
  left: 0;
  height: 70px;
  background: #ffff;
  margin-top: -1px;
}
